.section-header{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3%;
}

.edu-container{
    margin-top: 10%;
    position: relative;
    margin-bottom: 3%;
    background-color: var(--off-white);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4%;
    padding: 5%;
}

.school-bg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 100%;
    height: 31.25%;
    opacity: 0.3;
    border-radius: 4%;
}

.schooldesc{
    position: absolute;
    left: 17.5%;
    font-size: 1.5vw;
    width: 80%;
}

#yaledesc{
    top: 20%;
}

#stuydesc{
    top: 60%
}

.circle{
    height: 5%;
    width: 3.75%;
    border-radius: 50%;
    border: 3px solid;
    position: absolute;
    left: 10%;
    border-color: black;
}

.circle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    border: 1px solid;
    border-width: 0 0 0 3px;
    width: 1px;
}

#edu-circle1{
    top: 20%;
}

#edu-circle1:before{
    height:700%;
}

#edu-circle2{
    top: 60%;
}

#edu-circle2:before{
    height:500%;
}