.exp-container{
    margin-right: 2.5%;
    width: 100%;
}

.exp{
    border-radius: 15px;
    border: 3px solid gray;
    padding: 3%;
    background-color: rgb(216, 207, 197);
}

.exp-line{
    border-left: 3px solid gray;
    margin-left: 50%;
    height: 25px;
}

.git-link{
    margin-top: 10px;
}