.proj-skills{
    display:flex; 
    flex-direction:row;
    flex-wrap: wrap;
}

.proj-skill{
    background-color: white;
    box-shadow: 0 4px 14px 0 rgba(105, 98, 98, 0.15);
    border-radius: 5px;
    padding: 5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.pdf-link{
    height: 40px;
    width: 40px;
    color: black;
}