.intro-container{
    padding: 5%;
    overflow: auto;
}

#pfp{
    height: 300px;
    width: 225px;
    border-radius: 4%;
}

.left{
    display: inline;
    float: left;
    padding-right: 5%;
}

.right{
    display: inline;
    font-size: 1.25em;
}