.container{
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
}

#pfp{
    height: 133%;
    width: 100%;
}

.left{
    width: 25%;
    display: inline;
    float: left;
    padding-right: 5%;
}

.right{
    width: 75%;
    display: inline;
    font-size: 1.5vw;
}