.proj-header{
    padding-bottom: 0%;
}

.proj-row{
    display:flex; 
    flex-direction:row;
    margin-top: 3%;
}

.proj{
    padding: 2%;
    padding: 3%;
    border-radius: 15px;
    background-color: rgb(240, 251, 251 );
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.proj-dummy{
    padding: 2%;
    padding: 3%;
    visibility: hidden;
}

#proj-left{
    margin-right: 2.5%;
    width: 100%;
}

#proj-mid{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 100%;
}

#proj-right{
    margin-left: 2.5%;
    width: 100%;
}