.proj-container{
    margin-top: 10%;
    padding: 5%;
    background-color: var(--off-white);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4%;
}

.proj-row{
    display:flex; 
    flex-direction:row;
}

.proj{
    width: 90%;
    padding: 2%;
    padding: 3%;
    border-radius: 4%;
    background-color: rgb(240, 251, 251 );
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

#proj-left{
    margin-right: 2.5%;
}

#proj-mid{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#proj-right{
    margin-left: 2.5%;
}