.skills-container{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: var(--off-white);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4%;
    padding: 5%;
}

.skills-row{
    padding-bottom: 5%;
    display: flex;
}


.skills-row-left{
    padding-right: 5%;
    font-size: 1.25em;
    display: inline-block;
}

.skills-wrap{
    display: table;
    width: 125px;
    height: 125px;
}

.skills-wrap p{
    display: table-cell;
    vertical-align: middle;
}

.skills-row-right{
    display: flex;
    flex-direction:row;
}

#dummy-skill{
    visibility: hidden;
}