.skills-row{
    padding-bottom: 5%;
    display: flex;
}

.skills-row-left{
    padding-right: 5%;
    font-size: 1.25em;
    display: inline-block;
}

.skills-wrap{
    display: table;
    width: 125px;
    height: 125px;
}

.skills-wrap p{
    display: table-cell;
    vertical-align: middle;
}

.skills-row-right{
    display: flex;
    flex-direction:row;
}