body {
    font-family: 'Open Sans', sans-serif;
}

.bg{
    /*
    background: rgb(123,183,219);
    background: radial-gradient(circle, rgba(123,183,219,1) 0%, rgba(243,247,246,1) 93%);
    background-size: cover;
    position: absolute; 
    z-index: -1;
    */
}