body {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

/* 
Container and section header are used quite frequently across components
*/
.container{
    background-color: var(--off-white);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 10%;
    border-radius: 15px;
    padding: 5%;
}

.section-header{
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3%;
}

.edu-exp{
    display:flex; 
    flex-direction:row;
}